<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Personel Telefon Rehberi</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/Personel">Personeller</a></li>
            <li><a href="/Departman">Departmanlar</a></li>
            <li><a href="/Kullanici">Yetkili Kullanıcı Oluştur</a></li>
            <li><a href="/Security/Logout">Çıkış Yap</a></li>
        </ul>
    </div>
</nav>

